<suite name="Test-method Suite" parallel="methods" thread-count="5" >

    <test name="sumTest" group-by-instances="true">
        <classes>
            <class
                    name="testNG.CalculatorTestCases" />
        </classes>
    </test>
    <test name="subtractTest" group-by-instances="true">
        <classes>
            <class
                    name="testNG.CalculatorTestCases" />
        </classes>
    </test>
    <test name="multiplierTest" group-by-instances="true">
        <classes>
            <class
                    name="testNG.CalculatorTestCases" />
        </classes>
    </test>
    <test name="divTest" group-by-instances="true">
        <classes>
            <class
                    name="testNG.CalculatorTestCases" />
        </classes>
    </test>
    <test name="modDivTest" group-by-instances="true">
        <classes>
            <class
                    name="testNG.CalculatorTestCases" />
        </classes>
    </test>

</suite>